.main-reg-form{
    background-color: #51E1ED;
    height: 100vh;
}
.reg-form{
    margin-left: 25%;
    margin-right:25%;
    width: 50%;
    padding: 20px;
}
.dob{
    margin-left: 5px;
    margin-top:15px;
    size: 10px;
}
#form-button-control-public{
    margin-top: 20px;
    background-color: #120E43;
    color: whitesmoke
}
label{
    font-family: Arial, Helvetica, sans-serif
}
