.main-reg-form{
    background-color:white; 
    height: 100%;
    padding: 50px;
}
.reg-form{
    margin-left: 25%;
    margin-right:25%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(202, 202, 202);
}
.reg-form h2{
    padding: 5px;
    margin-bottom: 20px;
}
.reg-form hr{
    margin-bottom: 30px;
}
.dob{
    margin-top:15px;
    width: 50%;
    margin-bottom: 10px
}
.dob label{
    font-weight: bold;
    font-size: 12px;
    
}

#form-button-control-public{
    margin-top: 20px;
    background-color: rgb(22, 13, 122);
    color: whitesmoke
}
#form-button-control-public:hover{
    background-color: rgb(15, 10, 71);
}
label{
    font-family: Arial, Helvetica, sans-serif
}