.main-reg-form-pat{
    height: 120%;
    padding: 40px
}
.reg-form-pat{
    margin-left: 25%;
    margin-right:25%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px 1px rgb(202, 202, 202);
}