.footer{
    padding: 20px;
    background-color: black;
    color: white
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
.footer p{
    font-size: 13px;
    text-align: justify;
    padding-right: 35px;
    cursor: pointer;
}
.footer p:hover{
    color: rgb(197, 195, 195);
}
hr{
    margin-top: 15px;
    background: #efefef;
}
.footer .copyright{
    text-align: center;
    padding: 5px;
}