.main-footer {
    bottom:0;
    position: relative;
    width:100%;
    justify-content: center;
}
.row1{
    display: flex;
    align-items: stretch;
    background-color: #120E43;
    color: whitesmoke;
    justify-content: flex-start
}
.row2{
    display: flex;
    align-items: stretch;
    background-color:rgb(36, 31, 83);
    color: whitesmoke;
    position: relative;
    width:100%;
    justify-content: center;
}
.footer-element{
    padding: 1%
}
.icon{
    margin-left: auto;
    padding: 10px
}
.footer-icon{
    padding: 10px;
    color:whitesmoke;
}
a{
    color:whitesmoke;
    text-decoration: none;
}