.center{
  padding: 200px 0;
  text-align: center;
  height: 100vh;
}

.container {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
  padding: 20px;
}

.image {
  display: block;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  padding: 30px;
  margin-left: -20px;
  margin-top: -20px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-radius: 50%;
  opacity: 0.6;
}

.container:hover .overlay {
  width: 100%;
}

.text {
  white-space: nowrap; 
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
}

.Button{
  margin: 10px;
}

@media (max-width: 720px) {
  .center{
    margin-left: 50px;
    padding: 10%;
    text-align: center;
  }
  .container {
    width: 150px;
    height: 150px;
    display: inline-block;
    flex-direction: column;
  }
  .image {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 30px;
    margin-left: -45px;
    margin-top: -45px;
  }
   }