.stages-main-1{
  height: 100%;
  padding: 80px !important;
  background-image: url('../../../../assets/bg4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.paper-content{
  padding: 5px;
  
}
/* hr.new1 {
  border-top: 1px dashed #19B5FE;
} */

.stages-1{
  background-color: #053a5e;
  padding: 10px;
  opacity: 90%;
  border-radius: 10px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 33%);
}
.stages-1:hover{
  box-shadow: 0px 5px 25px 0px rgb(0 0 0 / 20%);
}

@media only screen and (max-width: 420px) {
  .card-counter .count-name{
    position: absolute;
    right: 30px;
    top: 70px;
    font-style: italic;
    display: block;
    font-size: 20px !important;
  }
}