.viewdata{
    height: 100%;
    padding: 50px;
    background-color: #ebf8fc
}
.displayform{
    background: white;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #efefef;

}

